*{
	font-family: 'Ubuntu';
}

body{
	background-color: silver;
}

#errors{
	background-color: black;
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	color: red;
	padding: 20px;
}

#form-box{
	color: white;
	background-color: black;
	width: 500px;
	height: 400px;
	margin: 0 auto;
	font-size: 30px;
	padding: 20px;
}

table{
	margin: 0 auto;
}

input{
	width: 400px;
	height: 30px;
}

h1{
	text-align: center;
	font-size: 60px;
}

#button{
	width: 200px;
}
