
# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:LlH8XN
RewriteEngine on
RewriteCond %{HTTP_HOST} ^montecode.me$ [OR]
RewriteCond %{HTTP_HOST} ^www.montecode.me$
RewriteRule ^mail$ http://mail.zoho.com [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE LlH8XN:REDIRECTID

# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

